
<body class="hold-transition  login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Keros</b>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Entrez votre addresse email pour réinitialiser votre mot de passe</p>
            {{#if (eq recu true)}}
                <p>Mail envoyé, merci de vérifier votre email</p>
            {{/if}}
            <form action="/auth/forgetPassword" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Votre adresse email" name="email"
                           required
                           style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="g-recaptcha" onmouseenter="return removeErrorMessage();" data-sitekey="6LchjtwUAAAAAFcWIcxoKgX6-_IsiEOX4j6BxGme"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" onclick="return checkRecaptcha();" id="email-button" class="btn btn-primary btn-block btn-flat">Envoyez-moi un email</button>
                    </div>
                </div>
            </form>
            <br/>
            <div class="text-center">
                <a href="/auth/login">Retournez à la connexion</a><br>
            </div>
            <br/>
            <p class="text-danger text-center login-box-msg" id="errorMessage" hidden>Merci de faire la vérification humain machine</p>
        </div>
    </div>
</body>

<script>
//if the reCaptch is not correctly clicked, show error message
function checkRecaptcha(event) {
  const errorMessage = document.getElementById('errorMessage');
  var response = grecaptcha.getResponse();
  if(response.length == 0) {
    //reCaptcha not verified
    errorMessage.removeAttribute('hidden');
    return false;
  }
  else {
    //reCaptch verified
  }
}
//remove error message when user move mouse to reCaptcha
function removeErrorMessage(event){
    const errorMessage = document.getElementById('errorMessage');
     errorMessage.setAttribute('hidden', '');
}
</script>