<div class="small-box bg-warning">
  <div class="inner px-4">
    <h3>{{membersWithUnpaidFees}}<sup class="text-lg"> / {{totalMembers}}</sup></h3>
    <p>Membres à se réinscrire</p>
  </div>
  <div class="icon">
    <i class="fas fa-money-bill-wave px-4"></i>
  </div>
  <a
    class="small-box-footer"
    href="/search/members?hasPaidMemberFees=false"
  >
    Voir la liste
    <i class="fas fa-arrow-circle-right px-2"></i>
  </a>
</div>
