{{#if (afterToday connectedUser.dateRepayment.date)}}
  <div class="small-box bg-danger">
    <div class="inner px-4">
      <h3>Attention</h3>
      <p class="mb-1">Repaiement de cotisation nécessaire</p>
      <p>
      <strong>Date de repaiement :</strong>
      {{ date connectedUser.dateRepayment.date }}
      </p>
    </div>
    <div class="icon">
      <i class="fas fa-exclamation px-4"></i>
    </div>
    <a class="small-box-footer" href="">
      Payer la cotisation
      <i class="fas fa-arrow-circle-right px-2"></i>
    </a>
  </div>
{{else}}
  <div class="small-box bg-success">
    <div class="inner px-4">
      <h3>Cotisation Payée</h3>
      <p class="mb-1">Vous avez réglé votre frais de cotisation</p>
      <p>
      <strong>Date de repaiement :</strong>
      {{ date connectedUser.dateRepayment.date }}
      </p>
    </div>
    <div class="icon">
      <i class="fas fa-check px-2"></i>
    </div>
    <div class="small-box-footer">
      L'inscription renouvelé
    </div>
  </div>
{{/if}}
