.skin-green .main-header .navbar {
    background-image: linear-gradient(to right, #005360, #167173, #3b907f, #67ad86, #9bca8b);
}

.skin-green .main-header .logo {
    background-color: #005360;
}

.skin-green .main-header .logo:hover {
    background-color: #167173;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    background-color: #167173;
}

body {
    font-family: Lato, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
    /* background-color: #2D2D2C;*/
}

.bg-aqua {
    background-color: #005360 !important;
}

.box.box-primary {
    border-top-color: #005360;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Lato, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-header .logo .logo-lg {
    display: inline;
    height: 85%;
}

.main-header .logo .logo-mini {
    height: 100%;
}

.main-header .sidebar-toggle:hover {
    background-color: #67ad86;
}

.skin-green .main-header li.user-header {
    background-color: #005360;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #005360;
}

option[selected] {
    color: darkgrey;
}

.form-buttons > button {
    margin-left: 20px;
}

.btn-success:active, .btn-success:hover, .btn-success:focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary:focus-within, .btn-primary {
    background-color: #9BCA8B;
    border-color: #9BCA8B;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
    background-color: #9BCA8B;
    border-color: #9BCA8B;
}

.btn-success, .btn-primary {
    background-color: #67ad86;
    border-color: #67ad86;
}

.btn-success, .btn-primary, .btn-danger, .btn {
    /* min-height: 3em;
     min-width: 8em;*/
    font-size: medium;
}

.paginateselect {
    margin-bottom: 10px;
}

.selectlinks {
    background-color: #eeeeee;
}

a {
    color: #005360;
}

a:hover, a:active, a:focus {
    color: #167173;
}

.main-footer {
    /*background: #1B1C1D;*/
    /*color: rgba(255,255,255,.9);*/
}
