.main-header .logo .logo-lg {
    display: inline;
    height: 85%;
}

.main-header .logo .logo-mini {
    height: 100%;
}

option[selected] {
    color: darkgrey;
}

.form-buttons > button {
    margin-left: 20px;
}

.paginateselect {
    margin-bottom: 10px;
}

.selectlinks {
    /*border: 2px solid #00a65a;*/
    /*padding: 20px;*/
    background-color: #eeeeee;
}
