@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.loupe {
    background-color: DodgerGreen;
    border: none;
    color: black;
    padding: 8px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.loupe:hover {
    background-color: ForestGreen;
}
