<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Formation</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="outYear">Année de fin d'études</label>
          <input
            type="number"
            class="form-control"
            id="outYear"
            name="outYear"
            required
            value="{{viewed.outYear}}"
            {{#if (eq action 'view')}}disabled{{/if}}
          >
        </div>
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <label for="departmentId">Département</label>
          <select
            class="form-control custom-select"
            id="departmentId"
            name="departmentId"
            {{#if (eq action 'view')}}disabled{{/if}}
          >
            {{#each departments}}
              <option
                value="{{id}}"
                {{#if (eq id ../viewed.department.id)}}selected{{/if}}
              >{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    {{#if (eq entity "consultants")}}
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="isApprentice"
            {{#if viewed.isApprentice}}checked{{/if}}
            {{#if (eq action 'view')}}disabled{{/if}}
          >
          <label class="form-check-label">
            Formation en apprentissage
          </label>
        </div>
      </div>
    {{/if}}
  </div>
</div>
