<body>
<div class="error-page">
  <h2 class="headline text-red">{{ifExists error.status 500}}</h2>

  <div class="error-content">
    <h3><i class="fa fa-warning text-red"></i>Une erreur est survenue.</h3>

    <p>
      {{ifExists error.message "Erreur Interne"}}.
      N'hésitez pas à contacter la DSI en créant un ticket sur la page <a href="/support">support</a>.
    </p>

    {{#if error.stack}}
      <pre>
        {{error.stack}}
      </pre>
    {{/if}}

  </div>
</div>
</body>