.keros-gradient {
	background: linear-gradient(to right bottom, #005360, #167173, #3b907f, #67ad86, #9bca8b) !important;
}

.jsgrid-grid-header,
.jsgrid-grid-body {
	overflow: auto;
}

.jsgrid-hover {
  cursor: pointer;
}

.jsgrid-hover > .jsgrid-cell {
  background: #8febc3;
  border-color: #8febc3;
}
