                  </tbody>
                </table>
              </div>
            </div>
            <div class="box-footer">
                  {{> template/pagination meta=meta}}
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          {{#if (eq page "consultantsPage")}}
          <a href="consultant/create" style="color: white;"><button type="button" class="btn btn-block btn-success btn-lg box">Nouveau consultant</button></a>
          {{else if (eq page "membersPage")}}
            <a href="member/create" style="color: white;"><button type="button" class="btn btn-block btn-success btn-lg box">Nouveau membre</button></a>
          {{else if (eq page "consultantInscriptionsPage")}}
<!--            <a href="consultant-inscription/create" style="color: white;"><button type="button" class="btn btn-block btn-success btn-lg box">Nouvelle inscription</button></a>-->
          {{/if}}
        </div>
      </div>
    </section>
  </div>
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>
