<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../../../public/images/default-50x50.gif" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>USERNAME</p>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU PRINCIPAL</li>
      <!-- Accueil -->
      <li>
        <a href="../index">
          <i class="fa fa-home"></i> <span>Accueil</span>
        </a>
      </li>

      <!-- SG -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-male"></i> <span>Secrétaire générale</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/core/member"><i class="fa fa-circle-o"></i> Membres</a></li>
        </ul>
      </li>

      <!-- UA -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-line-chart"></i> <span>Unité d'affaires</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/ua/firm"><i class="fa fa-circle-o"></i> Sociétés</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Sollicitations</a></li>
        </ul>
      </li>

      <!-- Comm -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-bullhorn"></i> <span>Communication</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/core/member"><i class="fa fa-circle-o"></i> Membres</a></li>
        </ul>
      </li>

      <!-- Support -->
      <li>
        <a href="/support">
          <i class="fa fa-support"></i> <span>Support</span>
        </a>
      </li>


    </ul>
  </section>
  <!-- /.sidebar -->
</aside>