<li class="nav-header">
  Ressources Humaines
</li>
<li
  {{#if (substr route '/sg/registrations')}}
    class="nav-item menu-open"
  {{else}}
    class="nav-item"
  {{/if}}
>
  <a
    href="#"
    {{#if (substr route '/sg/registrations')}}
      class="nav-link active"
    {{else}}
      class="nav-link"
    {{/if}}
  >
    <i class="nav-icon fas fa-user-plus"></i>
    <p>
      Inscriptions
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a
        href="/sg/registrations/members"
        {{#if (substr route '/sg/registrations/members')}}
          class="nav-link active"
        {{else}}
          class="nav-link"
        {{/if}}
      >
        <i class="nav-icon far fa-circle"></i>
        <p>Membres</p>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/sg/registrations/consultants"
        {{#if (substr route '/sg/registrations/consultants')}}
          class="nav-link active"
        {{else}}
          class="nav-link"
        {{/if}}
      >
        <i class="nav-icon far fa-circle"></i>
        <p>Consultants</p>
      </a>
    </li>
  </ul>
</li>
