<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Droits</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="droitImage"
          {{#if viewed.droitImage}}checked{{/if}}
          {{#if (eq action 'view')}}disabled{{/if}}
        >
        <label class="form-check-label">
          Droit à l'utilisation des images
        </label>
      </div>
    </div>
  </div>
</div>
