<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Création de chats
      </h1>
      {{> breadcrumb tab="RH" path="Chat,Créer un chat" }}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Créez un chat</h3>
              </div>
              <form role="form" method="post" action="#">
                <div class="box-body">
                  <div class="form-group">
                    <label for="nameInput">Nom</label>
                    <input type="text" class="form-control" id="nameInput" name="name"
                           placeholder="Entrez le nom" required>
                  </div>

                  <div class="form-group">
                    <label for="heightInput">Hauteur</label>
                    <input type="number" step="0.01" class="form-control" id="heightInput" name="height"
                           placeholder="Entrez la hauteur" required>
                  </div>
                </div>

                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>

  {{> template/footer}}
</div>
{{> template/scripts}}
</body>
