<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Voir les chats
      </h1>
      {{> breadcrumb tab="RH" path="Chat,Liste des chats" }}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Les chats</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Hauteur</th>
                  <th>Voir</th>
                </tr>
                {{#each cats}}
                  <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{height}}</td>
                    <td><a href="/cat/{{id}}" class="fa fa-hand-pointer-o"></a></td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">à</a></li>
                <li><a href="#">faire</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="/cat/create">Créer un chat</a> </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {{> template/footer}}
</div>
{{> template/scripts}}
</body>
