<div class="card card-danger">
  <div class="card-header">
    <h3 class="card-title">Authentification</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input 
        type="text" 
        class="form-control" 
        id="username" 
        name="username"
        required
        value="{{viewed.username}}"
        {{#if (eq action 'view')}}disabled{{/if}}
      >
    </div>
    <div class="form-group">
      <label for="password">Mot de Passe</label>
      <input 
        type="password"
        class="form-control"
        id="password"
        name="password"
        {{#if (eq action 'view')}}disabled{{/if}}
      >
    </div>
    {{#if (or
      (eq action 'modify')
      (eq action 'add')
    )}}
      <div class="form-group">
        <label for="password_confirm">Confirmez le Mot de Passe</label>
        <input
          type="password"
          class="form-control"
          id="password_confirm"
          name="password_confirm"
        >
      </div>
    {{/if}}
  </div>
</div>
