<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Tableau de bord
      </h1>
      {{> breadcrumb tab="ACCUEIL" path="Tableau de bord"}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
              <a href="/ua/study/me" style="color: white;">Bienvenue sur Keros !</a>
              Utilisez le menu à gauche pour naviguer, et déconnectez vous en cliquant sur votre nom en haut à droite, suivi de "Déconnecter"

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {{> template/footer}}
</div>
{{> template/scripts}}
</body>
