<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Tableau de bord
      </h1>
      {{> breadcrumb tab="ACCUEIL" path="Tableau de bord"}}
  </div>

  {{> template/footer}}
</div>
{{> template/scripts}}
</body>
