<body class="hold-transition sidebar-mini accent-olive">
  <div class="wrapper">
    {{> navbar}}
    {{> sidebar}}
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Tableau de Bord</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="container-fluid">
          {{#if isMember}}
            <div class="col-lg-3 col-6">
              {{> dashboard/payment}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{> footer}}
  </div>
  {{> scripts}}
</body>
