<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
    {{> template/header}}
    {{> template/sidebar}}
    <div class="content-wrapper">
        <section class="content-header">
            <h2>Votre transaction a bien été validée.</h2>
            <button class="btn btn-primary" onclick="location.href='/'">Retour à l'accueil</button>
        </section>
    </div>
    {{> template/footer}}
</div>
{{> template/scripts}}
</body>
