<body class="hold-transition sidebar-mini accent-olive">
  <div class="wrapper">
    {{> navbar}}
    {{> sidebar}}
    <form id="profile-form" class="content-wrapper" method="post">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark d-inline-block align-middle">
                {{title}}
              </h1>
              {{> info-box/profile/buttons}}
            </div>
          </div>
        </div>
      </div>

      {{#if (eq entity "consultants")}}
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-7">
                {{> info-box/profile/general}}
                <div class="row">
                  <div class="col-md-6">
                    {{> info-box/profile/authentication}}
                  </div>
                  <div class="col-md-6">
                    {{> info-box/address}}
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                {{> info-box/profile/education}}
                {{> info-box/rights}}
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-7">
                {{> info-box/profile/general}}
                <div class="row">
                  <div class="col-md-6">
                    {{> info-box/profile/education}}
                    {{> info-box/profile/authentication}}
                  </div>
                  <div class="col-md-6">
                    {{> info-box/address}}
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                {{> info-box/profile/position}}
                {{> info-box/rights}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </form>
    {{> footer}}
  </div>
  {{> scripts}}
</body>
